.activity-header{
    font-size: 20px;
    letter-spacing: 3px;
    font-family: "Archivo";
    color: #1B9FFE;
    text-align: center;
    font-weight: 700;
    padding-bottom: 10px;
}

.activity-name-container{
    font-family: "roboto";
    text-align: center;
    padding: 0px 20px;
}

.activity-institution{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color:#000;
}

.activity-roll{
    font-size: 15px;
    font-weight: 200;
}

.activity-year-container{
    padding: 0% 20%;
    padding-bottom: 20px;
}

.activity-year-container p{
    font-family: "roboto";
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border-radius: 30px;;
    background-color: #31a6fe;
    padding: 12px 15px;
    text-align: center;
}

@media screen and (max-width: 1250px){
    .activity-header{
        font-size: 16px;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 800px){
    .activity-institution{
        font-size: 15px;
    }
    .activity-roll{
        font-size: 12px;
    }
    .activity-year-container p{
        font-size: 11px;
    }
    .activity-year-container{
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 600px){
    .activity-header{
        font-size: 14px;
    }
    .activity-institution{
        font-size: 12px;
    }
    .activity-roll{
        font-size: 11px;
    }
    .activity-year-container p{
        font-size: 10px;
    }
    .activity-year-container{
        padding-bottom: 50px;
        padding-top: 10px;
    }
}

@media screen and (max-width: 340px){
    .activity-year-container{
        padding-bottom: 40px;
        padding-top: 0px;
    }
    .activity-institution{
        line-height: 20px;
    }
    .activity-roll{
        line-height: 20px;
    }
}