.contact-container{
    padding-bottom: 80px;
}

.contact-container h1{
    letter-spacing: 3px;
    padding-top: 10px;
    font-family: "Archivo";
    color: #1B9FFE;
    text-align: center;
}

.contact-box{
    background-color: #ffffff;
    padding: 10px 0px;
    margin: 30px 100px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #00000020;
}

.box-header{
    text-align: center;
    padding-bottom: 20px;
    font-family: "Roboto";
    font-size: 20px;
    color: #000000;
}

.inside-container{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.contact-robot{
    height: 500px;
    width: auto;
    border-radius: 20px;
}

.contact-forms{
    padding-left: 100px;
    text-align: center;
}

.contact-forms p{
    font-family: "Roboto";
    color: #1B9FFE;
    padding-top: 10px; 
    font-weight: 800; 
}

.contact-forms input{
    font-family: "Roboto";
    font-size: 15px;
    border-radius: 60px;
    border-color: #1B9FFE;
    border-style: solid;
    text-align: center;
    background-color: transparent;
    color: #000000;
    padding: 10px 10px;
    width: 350px;
    border-width: 2px;
    height: 25px;
}

.contact-forms textarea{
    font-family: "Roboto";
    resize: none;
    font-size: 15px;
    color: #000000;
    height: 100px;
    width: 330px;
    text-align: center;
    border-radius: 10px;
    border-color: #1B9FFE;
    border-width: 2px;
    background-color: transparent;
    border-style: solid;
    padding: 10px 10px;
}

.container-button{
    padding-top: 50px;
}

.contact-forms button{
    font-size: 15px;
    font-weight: 900px;
    border-radius: 60px;
    padding: 10px 30px;
    color: #fff;
    border-color: #1B9FFE;
    border-style: solid;
    background-color:#1B9FFE;
    transition: 0.8s ease-in-out;
}

.contact-forms button:hover{
    background-color: transparent;
    color:#1B9FFE;
}

.show-error{
    font-family: "roboto";
}

@media screen and (max-width:1250px) {
    .contact-container h1{
        letter-spacing: 3px;
        padding-top: 30px;
        font-size: 25px;
    }
    .contact-robot{
        height: 450px;
    }
    .contact-forms{
        padding-left: 60px;
    }
    .contact-forms input, .contact-forms textarea   {
        width: 300px;
    }
    .container-button{
        padding-top: 20px;
    }
}

@media screen and (max-width:1050px) {
    .inside-container{
        flex-direction: column; 
    }
    .contact-robot{
        width: 300px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .contact-forms{
        padding-left: 0px;
    }
}

@media screen and (max-width:700px) {
    .contact-container{
        padding: 0px 0px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width:600px) {
    .contact-box{
        margin: 30px 50px;
    }
    .contact-forms input, .contact-forms textarea   {
        width: 300px;
    }
    .box-header{
        font-size: 18px;
    }
    .show-error{
        font-size: 12px;
        padding-top: 20px;
    }
}

@media screen and (max-width:450px) {
    .contact-box{
        margin: 30px 30px;
    }
    .contact-forms input {
        width: 250px;
        height: 15px;
        font-size: 12px;
    }
    .contact-forms textarea{
        width: 250px;
        font-size: 12px;
    }
    .contact-forms button{
        font-size: 13px;
    }
    .contact-forms p{
        font-size: 13px;
    }
    .container-button{
        padding-top: 30px;
    }
}

@media screen and (max-width:350px) {
    .contact-box{
        margin: 30px 20px;
    }
    .contact-forms input {
        width: 150px;
        height: 10px;
        font-size: 12px;
    }
    .contact-forms textarea{
        width: 150px;
        font-size: 12px;
    }
    .contact-forms button{
        font-size: 11px;
    }
    .contact-forms p{
        font-size: 13px;
    }
    .show-error{
        font-size: 5px;
    }
}