.home-container{
    display: flex;
    justify-content: space-around;
    padding: 10px 80px;
}

.home-left{
    text-align: center;
    padding: 20px 70px;
    padding-top: 10px;
    letter-spacing: 3px;
}

.home-left h1{
    font-weight: 800px;
    font-size: 50px;
    color: rgb(27,159,254); 
    transition: 0.4s ease-in-out;
    font-family: "Archivo Black";
    letter-spacing: 5px;
}

.home-left p{
    color: #FFF;
    font-size: 30px;
    transition: 0.6s ease-in-out;
    padding: 10px 0px;
    font-family: "Archivo";
}

.home-left h1:hover{
    font-size: 53px;
    cursor:pointer;
}

.home-left p:hover, .home-skills-container span:hover{
    font-size: 33px;
    cursor:pointer; 
}

.home-right-profile{
    height: 480px;
    width: auto;
    transition: 1s ease-in-out;
}

.home-right-profile:hover{
    height: 510px;
    width: auto;
}

.left-social-icons-container{
    display: flex;  
    justify-content: space-evenly; 
    padding-bottom: 80px;
}

.left-social-icons-container li{
    list-style: none;
    padding-top: 70px;
}

.left-social-icon{
    height: 30px;
    width: auto;
    transition: 0.4s ease-in-out;
    list-style: none;
    padding-right: 50px;
}

.left-social-icon:hover{
    height: 35px;
    width: auto;
}

.left-buttons-container{
    padding-top: 70px;
    display:flex;
    justify-content: space-around;
}

.left-button{
    font-size: 15px;
    font-weight: 800px;
    border-radius: 60px;
    padding: 10px 30px;
    border-color: transparent;
    background-color: #1B9FFE;
    border-style: solid;
    color: rgb(21,23,32);
    transition: 0.8s ease-in-out;
}

.left-button:hover{
    background-color: transparent;
    color:#1B9FFE;
    border-color: #1B9FFE;
    cursor:pointer;
}

.home-skills-container{
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    letter-spacing: 3px;
}

.home-skills-container span{
    position: relative;
    color: #ffffff;
    font-size: 30px;
    font-family: "Archivo";
    animation: animation 10s ease infinite;
    transition: 0.6s ease-in-out;
}

@keyframes animation{
    0%,100% {top: 0;}
    25% {top: -55px;}
    50% {top: -105px;}
    75% {top: -155px;}
}

@media screen and (max-width:1350px) {
    .home-container{
        display: flex;
        justify-content: space-around;
        padding: 125x 50px;
    }
    .home-left{
        padding-top: 10px;
    }
    .home-right-profile{
        height: 400px;
        width: auto;
        padding-top: 20px;
    }
    .home-right-profile:hover{
        height:430px;
        width:auto;
    }
    .home-left h1{
        font-weight: 800px;
        font-size: 30px; 
        transition: 0.4s ease-in-out;
    }
    .home-left p, .home-skills-container span{
        font-size: 25px;
        transition: 0.4s ease-in-out;
    }
    .home-left h1:hover{
        font-size: 40px;
    }
    .home-left p:hover{
        font-size: 28px;
        transition: 0.4s ease-in-out;
    }
    .left-social-icons-container li{
        padding-top: 50px;
    }
}

@media screen and (max-width:1100px) {
    .home-container{
        flex-direction: column-reverse;
        padding-top: 0px;
    }
    .home-right-profile{
        padding-top: 10px;
        max-width: 100%;
        height: auto;
        padding: 0px 200px;
    }
    .home-right-profile:hover{
        height: 100%;
        width: auto;
    }
    .home-left h1{
        font-weight: 800px;
        font-size: 40px;
        transition: 0.4s ease-in-out;
    }
    .home-left p, .home-skills-container span{
        font-size: 25px;
        transition: 0.4s ease-in-out;
    }
    .home-left h1:hover{
        font-size: 45px;
    }
    .home-left p:hover{
        font-size: 30px;
        transition: 0.4s ease-in-out;
    }
}

@media screen and (max-width:800px) {
    .home-container{
        display: flex;
        flex-direction: column-reverse;
        padding: 0px 0px;
    }
    .home-right-profile{
        max-width: 100%;
        height: auto;
        padding: 0px 120px;
    }
    .home-left{
        text-align: center;
        font-family: "Roboto";
        padding: 0px 20px;
        letter-spacing: 3px;
        padding-top: 20px;
    }
    .home-left h1{
        font-weight: 800px;
        font-size: 35px;
        transition: 0.4s ease-in-out;
        letter-spacing: 3px;
    }
    .home-left p, .home-skills-container span{
        font-size: 25px;
        transition: 0.4s ease-in-out;
        font-family: "Roboto";
    }
    .home-left h1:hover{
        font-size: 40px;
    }
    .home-left p:hover{
        font-size: 30px;
        transition: 0.4s ease-in-out;
    }
    .left-button{
        font-size: 13px;
        font-weight: 800px;
        border-radius: 60px;
        padding: 10px 30px;
        transition: 0.8s ease-in-out;
    }
    .left-button:hover{
        border-color: transparent;
        background-color: #1B9FFE;
        color: rgb(21,23,32);
    }
}

@media screen and (max-width:425px) {
    .home-right-profile{
        max-width: 100%;
        height: auto;
        padding: 0px 50px;
    }
    .home-left h1{
        font-family: "Roboto";
        font-size: 25px; 
        font-weight: 900px;
        transition: 0.4s ease-in-out;
        letter-spacing: 3px;
    }
    .home-left h1:hover{
        font-weight: 800px;
        font-size: 25px;
        transition: 0.4s ease-in-out;
        letter-spacing: 3px;
    }
    .home-left p, .home-skills-container span{
        font-size: 20px;
        transition: 0.4s ease-in-out;
    }
    .home-left p:hover{
        font-size: 20px;
        transition: 0.4s ease-in-out;
    }
    .left-button{
        font-size: 10px;
        font-weight: 800px;
        border-radius: 60px;
        padding: 10px 30px;
    }
    .left-social-icon {
        height: 25px;
        width: auto;
        transition: 0.6s ease-in-out;
        list-style: none;
        padding-right: 50px;
    }
    .left-buttons-container button{
        font-size: 12px;
        padding: 10px 20px;
    }
    .left-social-icons-container{
        justify-content: center;
    }
}

@media screen and (max-width: 350px) {
    .home-right-profile{
        max-width: 100%;
        height: auto;
        padding: 0px 40px;
    }
    .home-left h1{
        font-weight: 800px;
        font-size: 20px; 
        transition: 0.4s ease-in-out;
        letter-spacing: 0px;
    }
    .home-left h1:hover{
        font-weight: 800px;
        font-size: 20px; 
        transition: 0.4s ease-in-out;
        letter-spacing: 3px;
    }
    .home-left p, .home-skills-container span{
        font-size: 15px;
        transition: 0.4s ease-in-out;
    }
    .home-left p:hover{
        font-size: 15px;
        transition: 0.4s ease-in-out;
    }
    .left-button{
        font-size: 10px;
        font-weight: 800px;
        border-radius: 60px;
        padding: 10px 10px;
    }
    .left-social-icon {
        height: 20px;
        width: auto;
        transition: 0.6s ease-in-out;
        list-style: none;
        padding-right: 35px;
    }
    .left-social-icon:hover{
        height: 20px;
        width: auto;
    }
    .left-buttons-container button{
        font-size: 10px;
        padding: 10px 15px;
    }
}