.navbar-container{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 50px 110px;
}

.navbar-name{
    color: #FFF;
    text-decoration: none;
    font-size: 25px;
    font-family: "Archivo";
    font-weight: 900;
    letter-spacing: 5px;
    transition: 0.5s ease-in-out;
}

.navbar-name:hover{
    transform: rotateX(360deg);
    color: #1B9FFE;
    font-size: 28px; 
}

#btns{
    display: flex;
    justify-content: center;
    align-items:center;
}

#btns li{
    list-style: none;
    padding: 0px 35px;
    position: relative;
    color:#FFF;
    text-decoration: none;
    font-family: "Roboto";
    font-size: 18px;
    letter-spacing: 1px;
    transition: 0.4s ease-in-out;
}

#btns li:hover{
    color: #1B9FFE;
    cursor: pointer;
}

.navbar-bars{
    display: none;
}

.navbar-bars i{
    color: #ffffff;
}

@media screen and (max-width:1250px){
    #btns{
        display: none;
        flex-direction: column;
        align-items:flex-start;
        justify-content: flex-start;
        position: absolute;
        top: 100px;
        right: -400px;
        width: 200px;
        height: 250px;
        background: hsla(0, 0%, 0%, 0.90);
        box-shadow: 7px 7px 10px #00000090;
        padding: 40px 0 0 10px;
        transition: 0.4s ease-in-out;
    }
    #btns.active{
        right: 30px;
        display: flex;
    }
    #btns li a{
        font-weight: 500;
    }
    .navbar-bars{
        display: block;
    }
    #btns li{
        margin-bottom: 25px;
    }
    .navbar-bars i{
        color:#ffffff;
        font-size: 120%;
        cursor: pointer;
        transition: 0.4s ease-in-out;
    }
    .navbar-bars i:hover{
        color:#1B9FFE;
    }
}

@media screen and (max-width:800px){
    .navbar-container{
        padding: 50px 50px;
    }
    .navbar-name{
        font-size: 20px;
        letter-spacing: 3px;
    }
    .navbar-name:hover{
        transform: none;
        color: #fff;
        font-size: 20px;
    }
}

@media screen and (max-width:400px){
    .navbar-container{
        padding: 40px 30px;
    }
    .navbar-name{
        font-size: 18px;
    }
}

@media screen and (max-width: 280px){
    .navbar-container{
        padding: 40px 20px;
    }
    .navbar-name{
        font-size: 12px;
    }
    #btns.active{
        right: 10px;
    }
}
