.programming-header{
    font-size: 20px;
    letter-spacing: 3px;
    font-family: "Archivo";
    color: #1B9FFE;
    text-align: center;
    font-weight: 700;
    padding-bottom: 0px;
}

.programming-progress-container{
    padding: 0% 10%;
}

.programming-progress-header{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 0px; */
}

.programming-progress-outer{
    display: flex;
    border-radius: 30px;
    background-color: #d6d6d6;
    width: 100%;
    height: 5px;
}

.programming-name{
    font-family: "roboto";
    letter-spacing: 1px;
}

.programming-percentage{
    font-family: "roboto";
}

@media screen and (max-width: 1250px){
    .programming-header{
        font-size: 16px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 600px){
    .programming-header{
        font-size: 14px;
    }
    .programming-name{
        font-size: 11px;
    }
    .programming-percentage{
        font-size: 11px;
    }
    .programming-progress-header{
        margin-bottom: 5px;
    }
    .programming-progress-container{
        padding-bottom: 15px;
    }
}
