
.projects-container-block{
    display: flex;
    justify-content: center;
}

.projects-flex-container{
    display: flex;
    justify-content: center;
}

.projects-box{
    width: 300px;
    font-family: "roboto";
    padding: 15px 10px;
    background-color: #ffffff;
    margin: 0px 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #00000020;
}

.project-image{
    height: auto;
    width: 290px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project-name{
    font-weight: 800;
    text-align: center;
}

.project-content{
    text-align: center;
    line-height: 30px;
}

.project-buttons{
    display: flex;
    justify-content: space-around;
}

.project-buttons button{
    font-size: 13px;
    font-weight: 700;
    border-radius: 60px;
    padding: 8px 15px;
    color: #1B9FFE;
    border-color: #1B9FFE;
    border-style: solid;
    background-color:transparent;
    cursor: pointer;
}

.project-buttons button:hover{
    background-color: #1B9FFE;
    color: #fff;
}