body{
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
  .navbar-container, .footer-container{
    background-color: rgb(21,23,32);
    margin: 0px;
  }

  .home-container{
    background-color: rgb(21,23,32);
    margin-top: -2px;
  }
  
  ::-webkit-scrollbar {
    width: 0;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }